<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.administrator.myapplication">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/chart">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/chart">
        </activity>
        <activity
            android:name=".cellRadioResourceAvailabilityActivity"
            android:label="@string/title_activity_cell_radio_resource_availablility"
            android:theme="@style/chart.NoActionBar">
        </activity>
        <activity android:name=".tcpActivity">
        </activity>
        <activity
            android:name=".attachActivity"
            android:label="@string/title_activity_attach"
            android:theme="@style/chart.NoActionBar">
        </activity>
        <activity
            android:name=".attach1Activity"
            android:label="@string/title_activity_attach1"
            android:theme="@style/chart.NoActionBar">
        </activity>
        <activity
            android:name=".epsActivity"
            android:label="@string/title_activity_eps"
            android:theme="@style/chart.NoActionBar">
        </activity>
        <activity
            android:name=".eps1Activity"
            android:label="@string/title_activity_eps1"
            android:theme="@style/chart.NoActionBar">
        </activity>
        <activity
            android:name=".httpActivity"
            android:label="@string/title_activity_http"
            android:theme="@style/chart.NoActionBar">
        </activity>
        <activity
            android:name=".dnsActivity"
            android:label="@string/title_activity_dns"
            android:theme="@style/chart.NoActionBar">
        </activity>
        <activity
            android:name=".KPI_Wireless_Access_RateActivity"
            android:label="@string/title_activity_kpi__wireless__access__rate"
            android:theme="@style/chart.NoActionBar">
        </activity>
        <activity
            android:name=".KPI_Drop_Call_RateActivity"
            android:label="@string/title_activity_kpi__drop__call__rate"
            android:theme="@style/chart.NoActionBar">
        </activity>
        <activity
            android:name=".KPI_Prb_Available_RateActivity"
            android:label="@string/title_activity_kpi__prb__available__rate"
            android:theme="@style/chart.NoActionBar">
        </activity>
    </application>

</manifest>